html {
    box-sizing: border-box;
    /* background-color: black; */
    /* color: whitesmoke; */
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: "Roboto", sans-serif;
    line-height: 2;
}

#nav-header {
    border-bottom: 2px solid black;
    border-color: white;
    text-align: center;
    font-size: 20px;
    color: white;
    padding: 15px 15px 15px 15px;
}

#navbar {
    position: fixed;
    min-width: 200px;
    width: 260px;
    height: 100%;
    top: 0;
    left: 0;
    margin-right: 20px;
    border-right: solid;
    background-color: rgb(46, 43, 43);
}

#no-bullets {
    list-style-type: none;
    /* padding: 0; */
    /* margin: 0; */
}

#navbar a {
    text-decoration: none;
    color: white;
}

#navbar a:hover {
    color: blue;
}

#main-doc {
    position: absolute;
    margin-left: 300px;
    /* padding: 0; */
}

header {
    font-size: 25px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
}

.code-box {
    display: block;
    text-align: left;
    /* white-space: pre; */
    /* position: ; */
    /* margin-left: auto; */
    /* margin-right: auto; */
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
    background-color: rgb(17, 17, 56);
    color: dodgerblue;
    border-radius: 10px;
}

.code-text {
    color: white;
}

.inline-code {
    color: dodgerblue;
}

.code-text:first-of-type {
    font-size: 1rem;
    /* font-style: italic; */
}

@media (max-width: 768) {
    
}